:root {
  --main-bg-color: #fff;
  --sub-bg-color: #030303;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #e7e7e7;
  --second-brand-color: #c9fc00;
  --third-brand-color: #141414;

  --main-font: 'Roboto';
  --title-font: 'Roboto Bold';
  --main-title-font: 'Martel';

  font-size: 62.5%;
}
